/*=============== Header CSS ==================*/
.site-wrap.home {
    margin-bottom: 125px;
}
.site-logo {
    margin-bottom: 30px;
    img {
        max-width: 150px;
        margin: 0 auto;
        @extend %displayblock;
    }
}
.site-header {
    padding: 40px 0 20px;
    .link-left {
        @extend %white-color;
        padding: 1px 0 2px 17px;
        img, i {
            @extend %posabsolute;
            left: 0;
            top: 5px;
            max-width: 10px;
        }
        &:hover{
            color: #007AFF;
        }
    }
    h4 {
        @extend %uppercase;
        font-size: 20px;
        margin: 0px 0;
    }
    .col-one {
        flex-basis: 30%;
        margin-top: 2px;
    }
    .col-three {
        flex-basis: 30%;
    }
    .col-two {
        flex-basis: 40%;
    }
}



